.servicesContent{
    display:grid;
    grid-template-areas: 'sechead sechead servmod1 servmod1 servmod1 servmod1 servmod1 servmod1 servmod1 servmod1 servmod1'
                        'sechead sechead servmod2 servmod2 servmod2 servmod2 servmod2 servmod2 servmod2 servmod2 servmod2'
                        'sechead sechead servmod3 servmod3 servmod3 servmod3 servmod3 servmod3 servmod3 servmod3 servmod3';
}
.sectionHead{
    grid-area:'sechead';
}

.serviceModule{
    display:flex;
    text-align:start;
    padding: 30px 0px;
    justify-content:space-between;
    grid-area:'servmod1';
}
.servMod1{
    grid-area:'servmod1'
}
.servMod2{
    grid-area:'servmod2'
}
.servMod3{
    grid-area:'servmod3'
}
.servicemodule img{
    border-radius:30px;
}
.servicesContent{
    display:flex;
    flex-direction:column;
}
@media screen and (max-width:799px){
    .serviceModule{
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
}